body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url("https://wallpapercave.com/wp/u4SiUa9.jpg") no-repeat center/cover;
}

#main-container {
    background-color: rgba(255, 255, 255, 0.523);
    padding: 20px;
    border-radius: 20px;
}

#the-game {
    border: 1px solid;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.523);
    padding: 20px;
    border-radius: 20px;
}

#result {
    height: 120px;
}

#score {
    display: flex;
    justify-content: space-around;
}

.scores {
    height: 50px;
    padding: 10px;
    font-size: 2em;
    border: 1px solid;
}

#player-score,
#computer-score {
    font-weight: 600;
}

.choices button {
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
}